#unauthenticatedOptions {
  color: white;
}
// .main-header {
//   position: fixed sticky;
// }
// // $charcoal: #bbb;
// //
label, button {
  color: #FF4500;
  font-family: 'Pacifico', cursive;
  text-shadow: 0 0 30px #FF0000;
  margin: 20px;
  font-size: 3em;
}

a {
  text-shadow: 0 0 10px yellow;
}
// //
button {
  font-family: 'Fredoka One', cursive;
  text: red;
  margin: 20px;

}
// //
#unauthenticatedOptions {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
// //
// // #authenticatedOptions {
// //   display: flex;
// //   flex-grow: 1;
// // }
// //
span {
  font-family: 'Fredoka One', cursive;
  text: green;
  margin: 10px;
}
// //
label {
  margin: 10px;
}
// //
.main-header {
  align-items: center;
  justify-content: center;
  // border-bottom: 1px solid $charcoal;
  // display: flex;
  background-color: #6EB812;
  padding: 10 20px;

  a,
  span {
    font-size: 1.2em;
    margin: 0 15px;
  }
}
// //
.main-header > nav {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-grow: 1;
  // justify-content: flex-end;
}

#addMarginTop {
  // margin-top: 1px;
}
// //
// // @media (max-width: 600px) {
// //   .main-header {
// //     flex-direction: column;
// //     justify-content: center;
// //     font-size: 0.7em;
// //     // height: auto;
// //     padding: 10px;
// //
// //     h1 {
// //       font-size: 2.5em;
// //     }
// //   }
// // }
// //
// // @media (max-width: 450px) {
// //   .main-header > nav {
// //     justify-content: center;
// //     flex-direction: column;
// //     width: 100%;
// //
// //     a,
// //     span {
// //       border: 1px solid $charcoal;
// //       margin-bottom: 5px;
// //       text-align: center;
// //       width: 80%;
// //     }
// //   }
// // }
