$charcoal: #bbb;

//  button {
//     position: relative;
//     display: inline-block;
//     padding: 1.2em 2em;
//     text-decoration: none;
//     text-align: center;
//     cursor: pointer;
//     user-select: none;
//     color: white;
//
//     &::before {
//         content: '';
//         position: absolute;
//         top: 0;
//         left: 0;
//         bottom: 0;
//         right: 0;
//         background: linear-gradient(135deg, #6e8efb, #a777e3);
//         border-radius: 4px;
//         transition: box-shadow .5s ease, transform .2s ease;
//         will-change: transform;
//         box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
//         transform:
//             translateY(var(--ty, 0))
//             rotateX(var(--rx, 0))
//             rotateY(var(--ry, 0))
//             translateZ(var(--tz, -12px));
//     }
//
//     &:hover::before {
//         box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
//     }
//
//     &::after {
//         position: relative;
//         display: inline-block;
//         content: attr(data-title);
//         transition: transform .2s ease;
//         font-weight: bold;
//         letter-spacing: .01em;
//         will-change: transform;
//         transform:
//             translateY(var(--ty, 0))
//             rotateX(var(--rx, 0))
//             rotateY(var(--ry, 0));
//     }
// }

// body {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     height: 100vh;
//     transform-style: preserve-3d;
//     transform: perspective(800px);
// }

.main-header {
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid $charcoal;
  // display: flex;
  height: 100px;
  padding: 0 20px;

  a,
  span {
    font-size: 1.2em;
    margin: 0 15px;
  }
}

.main-header > nav {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

@media (max-width: 600px) {
  .main-header {
    flex-direction: column;
    justify-content: center;
    font-size: 0.7em;
    // height: auto;
    padding: 10px;

    h1 {
      font-size: 2.5em;
    }
  }
}

@media (max-width: 450px) {
  .main-header > nav {
    justify-content: center;
    flex-direction: column;
    width: 100%;

    a,
    span {
      border: 1px solid $charcoal;
      margin-bottom: 5px;
      text-align: center;
      width: 80%;
    }
  }
}
