$success: #c7f282;
$warning: #f1e681;
$error: #f08181;
$charcoal: #ccc;

// #frost {
//   height: 350px;
//   position: absolute;
//   width: 250px;
// }

.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  background-size: cover;
  height: 100vh;
  padding: 0;
}

.slider {
  height: 100vh
}


.mx-4, article, #addMarginTop {
  opacity: 0.9;

}

.flash-success,
.flash-warning,
.flash-error {
  border: 1px solid $charcoal;
  display: block;
  left: 25%;
  padding: 30px;
  position: fixed;
  text-align: center;
  top: 15%;
  width: 50%;
  z-index: 1;
}

.flash-success {
  background-color: $success;
}

.flash-warning {
  background-color: $warning;
}

.flash-error {
  background-color: $error;
  border: 1px solid $charcoal;
  display: block;
  left: 25%;
  padding: 30px;
}

.auth-div {
  align-self: center;
  background-color: rbga(255, 255, 255, 0.9);
  border-radius: 10px;
  height: auto;
  justify-content: center;
  position: absolute;
  width: 600px;
  z-index: 10;
}

.auth-form {
  display: flex;
  flex-direction: column;
  // margin: 2% auto 0;
  label {
    padding-top: 20px;
  }

  button {
    align-self: center;
    font-size: 2em;
    max-width: 200px;
  }
}
